@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  /* overflow: hidden; Prevent unnecessary scrollbars */
  touch-action: none; /* Disable zoom and pan gestures for the whole page */
}


body {
  min-width: 320px;
  margin: 0 auto;
  background-color: white;
  color: black;
  max-width: 500px;
  height: 75vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


@keyframes moveCar1 {
  0% {
    transform: translateY(0);
  }50%{
    transfrom: translateY(120px)
  }
  75% {
    transform: translateY(240px); /* Adjust the movement distance based on your layout */
  }
  100% {
    transform: translateY(0); /* Adjust the movement distance based on your layout */
  }
}

.animate-move {
  animation: moveCar 2s ease-in-out forwards;
}


::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}